table, tr, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 4px;
    text-align: center;

}

.fila-cabecera {
    background-color: lightgrey;
}

.columna-moneda {
    display: flex;
    border: 1px;
    background-color: rgb(225, 241, 247);
    text-align: left;
}

.fila-moneda-amarillo {
    background-color: lightgoldenrodyellow;
}


